<mat-card>
  <mat-card-title>Star War's Personajes List</mat-card-title>
  <mat-paginator [length]="count"
            [pageSize]="10"
            (page)="handlePageChange()">
  </mat-paginator>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let personaje of personajes">          
        <h3 mat-line>
          <a mat-button [routerLink]="['/personaje-edit', personaje.url.toString()]">{{personaje.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

</mat-card>
